{% extends "base_generic.html" %}

{% block head %}
    <title>Custom Ordering - miller's r us</title>
{% endblock %}

{% block main %}
    <section class="portfolio-block projects-cards" style="padding-top: 35px;">
        <div class="container">
            <div class="heading" style="margin-bottom: 30px;">
                <h2>CUSTOM ORDERING</h2>
                <p>if you feel special</p>
            </div>
        </div>
        <div class="container">
            <form method="post" action="{% url 'custom-confirmation' %}">
                {% csrf_token %}
                <p class="text-danger">READ BEFORE CONTINUING</p>
                <p style="margin: 0;">If you'd like to have a custom part printed, please upload the file(s) (preferably .STL) to a file-sharing service like Google Drive or Dropbox.<br><br>There are a few caveats with custom ordering:<br></p>
                <ul>
                    <li>Custom orders must be submitted as separate orders from catalog-listed items. You can, however, submit multiple custom parts at once.</li>
                    <li>Your order will not be processed until a student is able to prepare your order and let you know how much the order will cost. You will be contacted by either text or email with the price of printing, after which you can either cancel your order or pay the bookkeeper.</li>
                    <li>The average price per gram of print material is slightly higher than normal to account for extra preparation time and a higher likelihood of print failure.</li>
                    <li>We reserve the right to reject any custom order.</li>
                </ul>
                <div class="form-group"><input class="form-control" type="text" name="first_name" placeholder="First Name" required=""></div>
                <div class="form-group"><input class="form-control" type="text" name="last_name" placeholder="Last Name" required=""></div>
                <div class="form-group"><input class="form-control" type="text" name="student_id" placeholder="Student ID" required="" pattern="^[0-9]+$"></div>
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email (don't use your student email)" required=""></div>
                <div class="form-group"><input class="form-control" type="tel" name="phone" placeholder="Phone" required=""></div>
                <div class="form-group"><textarea class="form-control" name="custom_links" placeholder="Link(s) to files" rows="5" required=""></textarea></div>
                <p>If you would like to print specific amounts of certain parts or change the material used for each part, please set the quantity to "0" and/or the material to "Use special instructions" and explain in the Special Instructions box below. Otherwise, the quantity and material will be applied to <strong>every</strong>&nbsp;part above!</p>
                <div class="form-group"><input class="form-control" type="number" name="custom_quantity" placeholder="Quantity" required="" min="0" max="100"></div>
                <div class="form-group"><select class="form-control" name="custom_material" required>
    <option value="-1">Use special instructions</option>
    {% for material in materials %}
    <option value="{{material.id}}">{{material}}</option>
    {% endfor %}
    </select></div>
                <p>If you have anything else you think we should know, please say so here.</p>
                <div class="form-group"><textarea class="form-control" name="special_instructions" placeholder="Special Instructions" rows="5"></textarea></div>
                <p>After you click "Place Custom Order," you will be redirected to your order confirmation, which contains an order number. <strong>Make sure you keep this order number in a safe place.</strong>&nbsp;</p>
                <p>You will give your order number to the bookkeeper when you pay the cost (after it's been determined). After the bookkeeper confirms your payment, we'll start preparing your order and will let you know when it's ready. Depending on availability, this may be a very short time, or you might have to wait a few days.</p>
                <p>If you need to contact us, please include as much information about yourself as you can, especially your order number.</p>
                <div class="form-check"><input class="form-check-input" type="checkbox" id="agreebox" required=""><label class="form-check-label" for="formCheck-1">I have read and understand the terms above.</label></div>
                <div class="form-group"><button class="btn btn-primary" type="submit">Place Custom Order</button></div>
            </form>
        </div>
    </section>
{% endblock %}