{% extends "base_generic.html" %}

{% block head %}
    <title>Home - miller's r us</title>
{% endblock %}

{% block main %}
    <section class="portfolio-block block-intro" style="/*background: linear-gradient(120deg,#4052f4,#0ea0ff);*/padding-top: 25px;padding-bottom: 0;">
        <div class="container">
            <div class="jumbotron text-left" id="index-box" style="background: linear-gradient(120deg, #6c1712, #b82820);">
                <h1 class="text-left" style="color: rgb(255,255,255);">Now accepting submissions!</h1>
                <p class="text-left" style="color: rgb(255,255,255);margin-bottom: 0;">Think you've got an awesome model? Submit it below for a chance at being featured on this store (and make some money, too)!</p><a class="btn btn-primary" role="button" style="margin-top: 5px;font-size: 20px;" href="https://docs.google.com/forms/d/e/1FAIpQLSei--gjHBnx4XAYecYixkTMhq-AbodIekiK00d9RPzdYUiTXA/viewform">Form and Details<i class="fa fa-angle-right" style="margin-left: 5px;"></i></a>
            </div>
        </div>
    </section>
    <section style="margin-bottom: 50px;">
        <div class="container">
            <div class="clean-related-items">
                <h2>Featured Products</h2>
                <div class="items">
                    <div class="row justify-content-center">{% for product in featured_products %}
    <div class="col-sm-6 col-lg-4">
    <div class="clean-related-item">
        <div class="image"><a href="{{product.get_absolute_url}}"><img class="img-fluid d-block mx-auto" src="{{product.images.all.0.image.url}}" style="border-radius: 14px;border: 1px;"/></a></div>
        <div class="related-name"><a href="{{product.get_absolute_url}}">{{product.name}}</a>
            <h4>${{product.price}}</h4>
        </div>
    </div>
    </div>
    {% endfor %}</div>
                </div>
            </div>
        </div>
    </section>
    <section style="background: linear-gradient(120deg, rgb(18,12,86) 0%, rgb(38,68,149) 100%), #212121;color: white;">
        <div class="container" style="padding: 15px;">
            <h2></h2>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-12 col-md-3 col-lg-3 col-xl-3 d-flex flex-column justify-content-center align-items-center align-content-center"><span class="step-item" style="background-color: rgb(255,86,115);"><i class="fa fa-heart"></i></span></div>
                <div class="col-12 col-md-9 col-lg-9 col-xl-9 d-flex flex-column justify-content-center">
                    <h2>Support your school!</h2>
                    <p>All purchases go towards the AACT chapter of the National Honor Society and will help fund both school and community activities!</p>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-12 col-md-3 d-flex justify-content-center align-items-center align-content-center"><span class="step-item" style="background-color: rgb(0,128,0);"><i class="fa fa-dollar"></i></span></div>
                <div class="col-12 col-md-9 col-lg-9 col-xl-9 d-flex flex-column justify-content-center">
                    <h2>Pay less!</h2>
                    <p>Why pay for shipping and handling when you can just walk to Miller's room?</p>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-12 col-md-3 d-flex justify-content-center align-items-center align-content-center"><span class="step-item" style="background-color: purple;"><i class="fa fa-star"></i></span></div>
                <div class="col-12 col-md-9 col-lg-9 col-xl-9 d-flex flex-column justify-content-center">
                    <h2>Student-run!</h2>
                    <p>Quality, guaranteed. take comfort in knowing that a fellow student makes sure your experience is great from start to finish!</p>
                </div>
            </div>
        </div>
    </section>
    <section style="background: linear-gradient(120deg, #1b560c 0%, rgb(60,149,38) 100%), #212121;color: white;">
        <div class="container" style="padding: 15px;">
            <h2>Three easy steps!</h2>
            <div class="row">
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center align-content-center"><span class="step-item">1</span><span><strong>Place it!</strong></span>
                    <p class="text-center">Queue your items to be printed through the website.</p>
                </div>
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center align-content-center"><span class="step-item">2</span><span><strong>Pay it!</strong></span>
                    <p class="text-center">Go to Mrs. Jones for payment. Your order will be marked as "paid," and then we'll start printing it!</p>
                </div>
                <div class="col-12 col-sm-4 d-flex flex-column align-items-center align-content-center"><span class="step-item">3</span><span><strong>Pick it up!</strong></span>
                    <p class="text-center">We'll let you know when your order is ready, and you can go to Miller's room to pick it up!</p>
                </div>
            </div>
        </div>
    </section>
    <section style="background: linear-gradient(120deg, rgb(86,16,12) 0%, rgb(149,45,38) 100%), #212121;color: white;">
        <div class="container d-flex flex-column align-items-center" style="padding: 15px;">
            <h2 style="color: rgb(227,227,227);">What are you waiting for?</h2><span>Go through our vetted list of products now!</span><a class="btn btn-primary" role="button" href="{% url 'catalog' %}">Catalog<i class="fa fa-angle-right" style="margin-left: 5px;"></i></a>
        </div>
    </section>
{% endblock %}