{% extends "base_generic.html" %}

{% block main %}
    <section class="portfolio-block block-intro" style="/*background: linear-gradient(120deg,#4052f4,#0ea0ff);*//*padding: 0;*/padding-bottom: 0;">
        <div class="container">
            <div class="jumbotron text-left" id="index-box" style="background: linear-gradient(120deg,#4052f4,#0ea0ff);">
                <h1 class="text-left" style="color: rgb(255,255,255);">buy stuff and support your school</h1>
                <p class="text-left" style="color: rgb(255,255,255);margin-bottom: 0;">high quality prints at an arbitrary price<br>(this should be a good print on a good background)</p>
            </div>
        </div>
    </section>
    <section style="margin-bottom: 50px;">
        <div class="container">
            <div class="clean-related-items">
                <h2>Featured Products</h2>
                <div class="items">
                    <div class="row justify-content-center">{% for product in featured_products %}
    <div class="col-sm-6 col-lg-4">
    <div class="clean-related-item">
        <div class="image"><a href="{{product.get_absolute_url}}"><img class="img-fluid d-block mx-auto" src="{{product.images.all.0.image.url}}" style="border-radius: 14px;border: 1px;"/></a></div>
        <div class="related-name"><a href="{{product.get_absolute_url}}">{{product.name}}</a>
            <h4>${{product.price}}</h4>
        </div>
    </div>
    </div>
    {% endfor %}</div>
                </div>
            </div>
        </div>
    </section>
    <section style="background: #000000;color: white;">
        <div class="container" style="padding: 15px;">
            <h2 style="color: rgb(227,227,227);">why buy?</h2><span>lol i need to hire someone for good pictures of the prints like outdoory and stuff<br><br>like what you see on those artisan mech kb websites<br></span>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-12 col-md-3 col-lg-3 col-xl-3"><img src="assets/img/solidworks-imgs/skt%20t1.png" style="width: 100%;border-radius: 10px;"></div>
                <div class="col-12 col-md-9 col-lg-9 col-xl-9 d-flex flex-column justify-content-center">
                    <h4>support your school</h4>
                    <p>all purchases go towards the AACT chapter of the National Honor Society and will help fund both school and community activities!</p>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-12 col-md-3 col-lg-3 col-xl-3"><img src="assets/img/solidworks-imgs/skt%20t1.png" style="width: 100%;border-radius: 10px;"></div>
                <div class="col-12 col-md-9 col-lg-9 col-xl-9 d-flex flex-column justify-content-center">
                    <h4>pay less</h4>
                    <p>why pay for shipping and handling when you can go to miller's room and get the things you bought yourself?</p>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px;">
                <div class="col-12 col-md-3 col-lg-3 col-xl-3"><img src="assets/img/solidworks-imgs/skt%20t1.png" style="width: 100%;border-radius: 10px;"></div>
                <div class="col-12 col-md-9 col-lg-9 col-xl-9 d-flex flex-column justify-content-center">
                    <h4>student-run</h4>
                    <p>quality, guaranteed. take comfort in knowing that a fellow student makes sure your experience is great from start to finish!</p>
                </div>
            </div>
        </div>
    </section>
    <section style="/*background: #000000;*//*color: white;*/">
        <div class="container" style="padding: 15px;">
            <h2>some number of easy steps!</h2><span>order, then confirmation, then bookkeeper, then pick up???</span>
        </div>
    </section>
    <section style="background: #000000;color: white;">
        <div class="container d-flex flex-column align-items-center" style="padding: 15px;">
            <h2 style="color: rgb(227,227,227);">what are you waiting for?</h2><span>maybe a picture of a wood desk, set to low transparency here?<br></span><button class="btn btn-primary" type="button">Catalog<i class="fa fa-angle-right" style="margin-left: 5px;"></i></button>
        </div>
    </section>
{% endblock %}